<div class="radio-messages" {{did-insert this.initRadio}} ...attributes>
    {{yield (hash Message=(component this.messageComponent
                                handleMouseIn=this.handleMouseIn
                                handleMouseOut=this.handleMouseOut
                                handleClick=this.handleClick)
                    messages=this.radio.messages)}}
</div>